results/*
!results/com/
!results/net/
!results/us/
results/com/*/domainerror/*
results/net/*/domainerror/*
results/us/*/domainerror/*
results/com/*/domaintaken/*
results/net/*/domaintaken/*
results/us/*/domaintaken/*
results/com/*/domainfree/*
results/net/*/domainfree/*
results/us/*/domainfree/*
workingnotes.txt
freedict.txt