@font-face {
  font-family: "ConsolasApple";
  font-style: normal;
  unicode-range: U+000-5FF;
  src: url("../fonts/Consolas.woff2") format("woff2"), url("../fonts/Consolas.woff") format("woff");
}

:root {
  --black: #292f33;
  --light-grey: #f1f3f4;
  --grey: #dee1e6;
  --blue: #191970;
}

html {
  font-family: Consolas, ConsolasApple;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  background-color: var(--light-grey);
  overflow-y: scroll;
}

.hidden {
  visibility: hidden;
}

.clickable-button {
  cursor: pointer;
  color: var(--black);
}

@media (hover: hover) {
  .clickable-button:hover {
    color: var(--blue);
  }
}

.clickable-button:active {
  color: var(--grey);
}

#whoisscrape {
  width: min(960px, 96%);
  margin: auto;
  color: var(--black);
}

#main-title {
  height: 96px;
  line-height: 96px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

#project-description {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 32px;
  text-align: center;
  background-color: var(--grey);
  border-radius: 4px;
}

.subtitle {
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.toggle {
  display: flex;
  background-color: var(--grey);
  border-radius: 4px;
}

.toggle-selected {
  color: var(--light-grey);
  background-color: var(--black);
  border-radius: 4px;
}

.toggle-button {
  flex: 1 1 0;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  text-align: center;
}

#free-taken-label {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#free-taken-results {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: var(--grey);
  border-radius: 4px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#free-taken-results > ol {
  padding-left: 0;
}

#free-taken-results > ol > li {
  list-style-type: none;
  line-height: 24px;
}
