@font-face {
  font-family: 'ConsolasApple';
  font-style: normal;
  unicode-range: U+000-5FF;
  src: url('../fonts/Consolas.woff2') format('woff2'), url('../fonts/Consolas.woff') format('woff');
}

html{
  font-family: Consolas, ConsolasApple;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

body{
  margin:0;
  background-color: #F1F3F4;
}

#body-container{
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom:0;
  margin-top:0;
  height: 100vh;
  color: #292f33;
}

h1{
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

h2{
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

ol {
  padding-left: 0;
}

li{
  list-style-type: none;
  height: 1.5em;
  line-height: 1.5em;
}

a{
  color: #292f33;
}

.title-container {
  width: min(56em,100%);
  height: 6em;
  line-height: 6em;
  text-align: center;
  margin: auto;
}

#paragraph-container{
  width: min(56em,100%);
  overflow: auto;
  line-height: 2em;
  text-align: center;
  margin: auto;
  background-color: #DEE1E6;
  border-radius: 0.2em;
}

#paragraph-container > p {
  margin:0;
}

.header-container {
  width: min(56em,100%);
  height: 3em;
  line-height: 3em;
  text-align: center;
  margin: auto;
}

.radio-container {
  width: min(56em,100%);
  background-color: #DEE1E6;
  margin: auto;
  text-align: center;
  border-radius: 0.2em;
}

.radio-selected {
  color: white;
  background-color: #292f33;
  border-radius: 0.2em;
}

.radio-unselected {
  color: #292f33;
  background-color: #DEE1E6;
}

.radio-button {
  height: 3em;
  line-height: 3em;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  cursor: pointer;
}

.radio-button:first-child {
  border-bottom-left-radius: 0.2em;
  border-top-left-radius: 0.2em;
}

.radio-button:last-child {
  border-bottom-right-radius: 0.2em;
  border-top-right-radius: 0.2em;
}

.domain-radio-button{
  width: 11.2em;
}

.extension-radio-button{
  width: 18.66666em;
}

#free-taken-label-container{
  visibility:hidden;
}

.split-header{
  display: inline-block;
  width: min(28em,50%);
}

#free-taken-container{
  visibility:hidden;
  width: 100%;
  text-align: center;
}

#free-taken-content-container{
  width: min(56em,100%);
  display: inline-block;
  margin: 0;
  border-radius: 0.2em;
  background-color: #DEE1E6;
}

.free-taken-list-container{
  width: min(28em,50%);
  display: inline-block;
  vertical-align: top;
}

.nav-toggle{
  color: #292f33;
  cursor: pointer;
  visibility: visible;
}

.nav-toggle-disabled{
  cursor: default !important;
  visibility: hidden !important;
}

#page-num{
  color: #292f33;
  visibility: visible;
}

.page-num-disabled{
  visibility: hidden !important;
}